<template>
    <div>
        <div class="mx-auto text-center mb-3">
            <div class="mb-3 d-flex">
                <el-select v-model="selectedFolder" placeholder="Select folder" style="width:100%;" @change="handleSelectChange">
                    <el-option-group
                        v-for="group in allFolders"
                        :key="group.type"
                        :label="group.type+' Folder'">
                        <el-option
                            v-for="item in group.folders"
                            :key="item.id"
                            :label="item.folder_name"
                            :value="item.id">
                        </el-option>
                    </el-option-group>
                </el-select>
                <div class="pl-3">
                    <el-button :disabled="disabled" @click="shareDialog = true">Share Folder</el-button>
                    <el-dialog
                        title="Share selected folder to"
                        :visible.sync="shareDialog"
                        width="30%"
                        :before-close="handleClose">
                        <div>
                            <el-select v-model="selectedUser" placeholder="Select">
                                <el-option
                                v-for="user in allUsers"
                                :key="user.id"
                                :label="user.name"
                                :value="user.id">
                                </el-option>
                            </el-select>
                        </div>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="shareDialog = false">Cancel</el-button>
                            <el-button type="primary" @click="handleShare">Confirm</el-button>
                        </span>
                    </el-dialog>
                </div>
            </div>
            <el-button-group>
                <el-button plain type="primary"  @click.prevent="handleClick('document')" :disabled="disabled">Document</el-button>
                <el-button plain type="primary" @click.prevent="handleClick('video')" :disabled="disabled">Video</el-button>
                <el-button plain type="primary" @click.prevent="handleClick('audio')" :disabled="disabled">Audio</el-button>
                <el-button plain type="primary" @click.prevent="handleClick('image')" :disabled="disabled">Image</el-button>
                <el-button plain type="primary" @click.prevent="handleClick('compressed')" :disabled="disabled">Compressed</el-button>
            </el-button-group>
        </div>
        <div class="card" style="height: 600px; width:100%;">
            <div class="card-header text-center h3" style="text-transform: uppercase;">{{activeName}}</div>
            <div v-loading="loading" class="card-body jumbotron overflow-auto">
                <div v-if="allFiles.length != 0">
                    <div class="card-columns">
                        <div v-for="(file, i) in allFiles" :key="i">                            
                            <el-card class="card" shadow="hover">
                                <img v-if="file.file_type == 'image'" style="height: 200px; width 50px;" :src="'/uploads/'+file.department_name+'/'+file.folder.folder_name+'/'+file.file_type+'/'+file.file_name" :title="file.file_name" class="card-img-top" :alt="file.file_name">
                                <div v-else-if="file.file_type == 'video' || file.file_type == 'audio'" class="embed-responsive embed-responsive-21by9">
                                    <video controls class="embed-responsive-item" :src="'/uploads/'+file.department_name+'/'+file.folder.folder_name+'/'+file.file_type+'/'+file.file_name"></video>
                                </div>
                                <img v-else :src="'/icons/'+file.file_type+'.png'" :alt="file.file_type+'.png'" style="height: 200px; width 50px;" class="card-img-top" >
                                <div style="padding: 14px;">
                                    <span>{{file.file_name}}</span>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>
                <div v-else class="text-center h1">
                    No Files found.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
    export default {
        props: ['userAuth'],
        data(){
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                selectedUser: '',
                selectedFolder: '',
                shareDialog: false,
                disabled: true,
                loading: true,
                activeName: 'document'
            }
        },
        computed: mapGetters(["allFiles", "allFolders", "allUsers"]),
        created() {
            this.fetchUsers(this.config);
            this.fetchFolders({id: this.userAuth.id, config: this.config});
            this.fetchFiles({type: this.activeName, config: this.config})
            .then(res=>{
                this.loading = false
            });
        },
        methods: {
            ...mapActions(['fetchUsers', 'fetchFiles', 'downloadFile', 'fetchFolders', 'shareFolder']),
            handleShare(){
                this.$confirm('Confirm this action?')
                .then(_ => {
                    this.shareFolder({data: {id: this.selectedFolder, user_id: this.selectedUser}, config: this.config})
                    .then(res => {
                        this.shareDialog = false
                        this.selectedUser = ''
                        console.log(res)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    done();
                })
                .catch(_ => {});
            },
            handleSelectChange(){
                if(this.value != ''){
                    this.disabled = false
                }
            },
            handleDownload(id){
                this.downloadFile({id: id, config: this.config})
                .then(res => {
                    console.log(res)
                })
                .catch(err => {
                    console.log(err)
                })
            },
            handleClick(type) {
                this.loading = true
                this.activeName = type;
                this.fetchFiles({folder_id: this.selectedFolder, type: type, config: this.config})
                .then(res=>{
                    this.loading = false
                    // console.log(res)
                });
            }
        }
    }
</script>

<style lang="scss">
.jumbotron {
    margin-bottom: 0 !important;
}
</style>