<template>
    <div>
        <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
            Upload File
        </el-button>

        <el-drawer
            title="Upload Files"
            :visible.sync="drawer"
            direction="rtl"
            :before-close="handleClose">
            <div class="mx-3">
                <div class="mb-5">
                    <div class="pb-3 float-right">
                        <el-button type="primary" @click.prevent="uploadInnerDialog = true">Add Folder</el-button>
                    </div>
                    <div>
                        <el-select v-model="selectedFolder" placeholder="Select" style="width:100%;">
                            <el-option-group
                                v-for="group in allFolders"
                                :key="group.type"
                                :label="group.type+' Folder'">
                                <el-option
                                    v-for="item in group.folders"
                                    :key="item.id"
                                    :label="item.folder_name"
                                    :value="item.id">
                                </el-option>
                            </el-option-group>
                        </el-select>
                    </div>
                    
                    <el-dialog
                        title="Add Folder"
                        width="30%"
                        :append-to-body="true"
                        :before-close="handleClose"
                        :visible.sync="uploadInnerDialog">
                        <div>
                            <el-input placeholder="Please input file name" v-model="folder_name"></el-input>
                        </div>
                        
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="uploadInnerDialog = false">Cancel</el-button>
                            <el-button type="primary" @click="newFolder">Confirm</el-button>
                        </span>
                    </el-dialog>
                </div>
                <div class="text-center">
                    <el-upload
                        class="upload-demo"
                        drag
                        action="/api/files/uploads"
                        :headers="config.headers"
                        :data="{folder_id: selectedFolder}"
                        name="file[]"
                        :on-error="handleError"
                        :on-success="handleSuccess"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :on-change="handleChange"
                        :before-upload="beforeUpload"
                        :file-list="fileList"
                        multiple>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                        <div class="el-upload__tip" slot="tip">Max of {{folder_name}} files per Upload & each file must be below 25mb</div>
                    </el-upload>
                </div>
            </div>
        </el-drawer>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
    export default {
        props: ['userAuth'],
        data() {
            return {
                config: {
                    headers: {
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                selectedFolder: '',
                fileList: [],
                drawer: false,
                uploadInnerDialog: false,
                folder_name: '',
            };
        },
        computed: mapGetters(["allFolders"]),
        created() {
            this.fetchFolders({id: this.userAuth.id, config: this.config});
        },
        methods: {
            ...mapActions(['fetchFolders', 'addFolder']),
            newFolder(){
                if(this.folder_name != ''){
                    this.addFolder({data: {folder_name: this.folder_name}, config: this.config})
                    .then(res => {
                        this.$notify.success({
                            title: 'Success',
                            message: res.message,
                            offset: 100
                        });
                    })
                    .catch(err => {
                        console.log(err)
                    });
                }else{
                    this.$notify.warning({
                        title: 'Success',
                        message: 'Please input a folder name.',
                        offset: 100
                    });
                }
                // this.fetchFolders({id: this.userAuth.id, config: this.config})
                // .then(res => {
                //     console.log(res)
                // })
                // .catch(err => {
                //     console.log(err)
                // });
            },
            handleChange(file, fileList) {
                this.fileList = fileList.slice(-3);
                console.log(fileList)
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handleError(response, file, fileList){
                if(response.status == 404){
                    this.$notify.warning({
                        title: 'Warning',
                        message: 'Please select a folder.',
                        offset: 100
                    });
                }

                if(response.status == 400){
                    this.$notify.error({
                        title: 'Error',
                        message: 'File already exist.',
                        offset: 100
                    });
                }
                // this.$notify.error({
                //     title: 'Error',
                //     message: response.message.message,
                //     offset: 100
                // });
            },
            handleSuccess(response, file, fileList){
                this.$notify.success({
                    title: 'Success',
                    message: 'File has been Uploaded.',
                    offset: 100
                });
                console.log(response)
            },
            beforeUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 25;
                if (!isLt2M) {
                    this.$message.error('File size can not exceed 25MB!');
                }
                return isLt2M;
            },
            handlePreview(file) {
                console.log(file);
            },
            handleClose(done) {
                this.$confirm('Are you sure you want to close this?')
                .then(_ => {
                    this.folder_name = ''
                    done();
                })
                .catch(_ => {});
            }
        }
    }
</script>

<style lang="scss">

</style>