<template>
    <div>
        <el-table
        :data="allDepartments.filter(data => !search || data.department_name.toLowerCase().includes(search.toLowerCase()))"
        style="width: 100%">
            <el-table-column
                prop="department_name"
                label="Department Name">
            </el-table-column>
            <el-table-column
            align="right">
            <template slot="header" slot-scope="scope">
                <el-input
                v-model="search"
                size="mini"
                placeholder="Type to search"/>
            </template>
            <template slot-scope="scope">
                <el-button
                size="mini"
                @click="handlePosition(scope.row)">View Positions</el-button>
                <el-button
                size="mini"
                type="danger"
                @click="deleteDepartment(scope.row)">Delete</el-button>
            </template>
            </el-table-column>
        </el-table>

        <el-drawer
            title="Positions"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
            <div class="mx-3">
                <div class="d-flex">
                    <el-input placeholder="Please input position" v-model="position_name" class="mx-3"></el-input>
                    <el-button type="primary" @click.prevent="newPosition()">Add Position</el-button>
                </div>
                <div>                    
                    <el-table
                        :data="positionByDepartment.filter(data => !position_search || data.position_name.toLowerCase().includes(position_search.toLowerCase()))"
                        height="300"
                        v-loading="loading"
                        style="width: 100%">
                        <el-table-column
                        label="Position Name"
                        prop="position_name">
                        </el-table-column>
                        <el-table-column
                        align="right">
                        <template slot="header" slot-scope="scope">
                            <el-input
                            v-model="position_search"
                            size="mini"
                            placeholder="Type to search"/>
                        </template>
                        <template slot-scope="scope">
                            <!-- <div v-if="scope.row.id != 1"> -->
                                <el-button
                                size="mini"
                                @click="setPermission(scope.row)">Set Permission</el-button>
                                <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.row)">Delete</el-button>
                            <!-- </div> -->
                        </template>
                        </el-table-column>
                    </el-table>

                    <el-dialog
                        title="Set Permission"
                        width="30%"
                        :append-to-body="true"
                        :before-close="handleClose"
                        :visible.sync="innerDrawer">
                        <div>
                            <el-form :model="permission" :inline="true">
                                <el-form-item label="Upload" prop="upload">
                                    <el-switch v-model="permission.upload"></el-switch>
                                </el-form-item>
                                <!-- <el-form-item label="View" prop="view">
                                    <el-switch v-model="permission.view"></el-switch>
                                </el-form-item> -->
                                <el-form-item label="Download" prop="download">
                                    <el-switch v-model="permission.download"></el-switch>
                                </el-form-item>
                                <el-form-item label="Delete" prop="delete">
                                    <el-switch v-model="permission.delete"></el-switch>
                                </el-form-item>
                            </el-form>
                        </div>
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="innerDrawer = false">Cancel</el-button>
                            <el-button type="primary" @click.prevent="submitPermision()">Confirm</el-button>
                        </span>
                    </el-dialog>
                </div>
            </div>
        </el-drawer>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
    export default {
        props: ['userAuth'],
        data() {
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                loading: false,
                innerDrawer: false,
                innerDialog: false,
                position_name: '',
                position_search: '',
                permission: {
                    upload: false,
                    // view: false,
                    download: false,
                    delete: false,
                },
                search: '',
                dialogVisible: false,
                department: [],
                positionData: []
            }
        },        
        computed: mapGetters(["allDepartments", "positionByDepartment", "positionPermission"]),
        created() {
            this.fetchDepartments(this.config);
        },
        methods: {
            ...mapActions(['fetchDepartments', 'fetchPositions', 'fetchPermission', 'addPosition', 'addPermission']),
            handleClose(done) {
                this.$confirm('Are you sure to close this dialog?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            },
            newPosition(){
                if(this.position_name != ''){
                    this.$confirm('Confirm this action?')
                    .then(_ => {
                        this.addPosition({data: {position_name: this.position_name, department_id: this.department.id}, config: this.config})
                        .then(res => {
                            this.position_name = ''
                            this.$notify.success({
                                title: 'Success',
                                message: res.message,
                                offset: 100
                            });
                        })
                        .catch(err => {
                            console.log(err)
                        })
                        done();
                    })
                    .catch(_ => {});
                }else{
                    this.$notify.warning({
                        title: 'Warning',
                        message: 'Please Input Position',
                        offset: 100
                    });
                }
            },
            submitPermision(){                
                this.$confirm('Confirm this action?')
                .then(_ => {
                    this.addPermission({data: {permissions: this.permission, id: this.positionData.id}, config: this.config})
                    .then(res => {
                        this.$notify.success({
                            title: 'Success',
                            message: 'Permission has been updated',
                            offset: 100
                        });
                        console.log(res)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                    done();
                })
                .catch(_ => {});
            },
            handlePosition(row) {
                this.department = row
                this.loading = true
                this.fetchPositions({id: row.id, config: this.config})
                .then(res => {
                    this.loading = false
                    // console.log(res)
                })
                .catch(err => {
                    console.log(err)
                })
                this.dialogVisible = true
            },
            setPermission(row) {
                this.positionData = row
                this.fetchPermission({id: row.id, config: this.config})
                .then(res => {
                    console.table(res)
                    if(res.upload == 1){
                        this.permission.upload = true
                    }
                    if(res.view == 1){
                        this.permission.view = true
                    }
                    if(res.download == 1){
                        this.permission.download = true
                    }
                    if(res.delete == 1){
                        this.permission.delete = true
                    }
                    this.innerDrawer = true
                })
                .catch(err => {
                    console.log(err)
                })
                // console.log(row);
            },
            handleDelete(row) {
                console.log(row);
            },
            deleteDepartment(row) {
                console.log(row);
            }
        }
    }
</script>

<style lang="scss">

</style>