<template>
    <div>
        <el-button type="primary" @click="dialogVisible = true">Add Department</el-button>

        <el-dialog
        title="Add Department"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">
        <div>
            <el-input placeholder="Please input Department name" v-model="department_name"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button type="primary" @click.prevent="newDepartment()">Confirm</el-button>
        </span>
        </el-dialog>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
    export default {
        props: ['userAuth'],
        data() {
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                dialogVisible: false,
                department_name: ''
            }
        },        
        methods: {
            ...mapActions(['addDepartment']),
            handleClose(done) {
                this.$confirm('Are you sure to close this dialog?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            },
            newDepartment(){
                if(this.department_name != ''){                    
                    this.addDepartment({data: {department_name: this.department_name}, config: this.config})
                    .then(res => {
                        if(res.status == 201){
                            this.dialogVisible = false
                            this.department_name = ''
                            this.$notify.success({
                                title: 'Success',
                                message: res.message,
                                offset: 100
                            });
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
                }else{
                    this.$notify.warning({
                        title: 'Warning',
                        message: 'Please Enter Department Name',
                        offset: 100
                    });
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>