<template>
    <div>
        <el-button type="primary" @click="dialogVisible = true">Add User</el-button>

        <el-dialog
            title="Add User"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
            <div>
                <el-form ref="form" :model="form" label-width="120px">
                    <el-form-item label="Name">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Email">
                        <el-input v-model="form.email"></el-input>
                    </el-form-item>
                    <el-form-item label="Position">
                        <el-select v-model="form.position" placeholder="Select User Position" style="width: 100%;">
                            <el-option-group
                                v-for="group in allDepartments"
                                :key="group.id"
                                :label="group.department_name+' Department'">
                                <el-option
                                    v-for="item in group.positions"
                                    :key="item.id"
                                    :label="item.position_name"
                                    :value="item.id">
                                </el-option>
                            </el-option-group>
                        </el-select>
                    </el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click.prevent="newUser()">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
    export default {
        props: ['userAuth'],
        data() {
            return {
                config: {
                    headers: {
                        contentType: "application/json",
                        'Authorization': 'Bearer ' + this.userAuth.api_token
                    }
                },
                form: {
                    name: '',
                    email: '',
                    position: '',
                },
                dialogVisible: false
            };
        },
        computed: mapGetters(["allDepartments"]),
        created() {
            this.fetchDepartments(this.config);
        },
        methods: {
            ...mapActions(['fetchDepartments', 'addUser']),
            newUser(){
                this.addUser({values: this.form, config: this.config})
                .then(res => {
                    if(res.status == 201){
                        this.dialogVisible = false
                        this.form.name = ''
                        this.form.email = ''
                        this.form.position = ''
                        this.$notify.success({
                            title: 'Success',
                            message: res.message,
                            offset: 100
                        });
                    }
                    console.log(res)
                })
                .catch(err => {
                    console.log(err)
                })
            },
            handleClose(done) {
                this.$confirm('Are you sure to close this dialog?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>